<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicles – Car Service Tracker</title>
    <link rel="stylesheet" href="../../static/css/styles.css">
</head>
<body>
    <h1>My Vehicles</h1>
    <!-- TODO: List customer's vehicles | Add / Edit / Remove buttons -->
    <a href="#" id="btnAddVehicle">+ Add New Vehicle</a>
    <div id="vehicleList">
        <!-- Populate dynamically or via server-side rendering -->
    </div>
    <script src="../../static/js/app.js"></script>
</body>
</html>
